# IntelliJ
*.iml
.idea/

# Eclipse
.classpath
.project
.settings/

# Gradle
.gradle
build/
gradle-app.setting
.gradletasknamecache

# Binaries
*.exe
*.iss
!gradle-wrapper.jar

# Archives
*.zip

# Android
captures/
.externalNativeBuild
.cxx
local.properties

# Mac
.DS_Store
